@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@theme {
    --color-primary: #538083;
    --color-primary-light: #6a9ea1;
    --color-primary-dark: #426668;

    --color-secondary: #2a7f62;
    --color-secondary-light: #35a07c;
    --color-secondary-dark: #21644e;

    --color-background: #dfd9e2;
    --color-background-light: #f5f2f7;
    --color-background-dark: #c8c0ce;

    --color-text: #89909f;
    --color-text-light: #a1a7b3;
    --color-text-dark: #707989;

    --color-accent: #c3acce;
    --color-accent-light: #d5c4dc;
    --color-accent-dark: #ac8fba;
}

* {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

button:hover,
input[type="checkbox"]:hover,
a:hover {
    cursor: pointer;
}

body {
    background-color: var(--color-background);
}